# Xcode
build/
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
*.swp
*.swo

# CocoaPods
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
*.swp
*.lock
*~

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~